<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"   
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>	
        <h:form>
            <p:messages showDetail="true"/>
            <div align="center">
                <p:panelGrid columns="2" id="panelU">
                    <h:outputText value="Usuario:"/>
                    <p:inputText id="txtUsuario" 
                                 binding="#{usuarioVista.txtUsuario}"
                                 required="true" 
                                 requiredMessage="El usuario es obligatorio" 
                                 />
                    <h:outputText value="Contraseña"/>
                    <p:password id="txtPass" 
                                binding="#{usuarioVista.txtPassword}"
                                required="true" 
                                requiredMessage="La contraseña es obligatoria" 
                                />
                    <p:commandButton value="Iniciar" 
                                     action="#{usuarioVista.ingresar()}"
                                     />
                </p:panelGrid>
            </div>
        </h:form>
    </h:body>
</html>	